.module_top, .module_bottom{
  visibility: hidden;
}

table {
  border: 0px !important;
}

.module_content img{
  min-width: 70px;
}

.module_content h2{
  font-size: 30px;
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
	background-color: #333;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  height: 90vh;
  background: url(kalkulator.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pusto {
    height: 800px;
 text-align:center;
}

.pusto p{
font-weight: 500;
font-size: 16px;
}

.pusto li {
    text-align: center; 
}

.pusto ul {
    text-align: center; 
}

.kalkulator {
text-align: center;
        height: 800px;
}

.infodod {
color: black;
    font-size: 12px;
}

.magia {
height: 150px;
}
.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  font-family: '', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline;
  padding: 40px;
  position: relative;
  left: 550px;
}

.nav a {
 color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
    text-decoration: none;
}
.main {
  position: relative;
  top: 150px;
  text-align: center;
}

.main p {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.main img {
height: 170px;
width: 250px;
margin-bottom: 30px;
}

.btn-main {
  border: none;
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
margin-top: 15px;
}

.calc {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}
.calcu {
  background-color: orange;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}
.zgub {
  background-color: white;
  color: white;  
  font-weight: 0;
  font-size: 0px;
}

.kalkulator h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.supporting {
  padding-top: 40px;
  padding-bottom: 100px;
}

.supporting form {
 text-align: center;   
}

label {
    width: 45%;
    text-align: left;
    display: inline-block;
}

.inputdisplay {
 margin-left: 5px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px;
}

.form-group {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
    height: 400px;
}


.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.supporting a {
	background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.7px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.supporting li {
font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
  }  

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Times New Roman', sans-serif;
  font-size: 11px;
}

@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}
